@page
@model MVCMeterConverter.Views.Home.CalculateModel
@{
    ViewData["Title"] = "Calculate";
}

<form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="waarde1">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Convertion</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="waarde2">
        </div>
    </div>
</form>
