@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
    <div class="row">
        <div class="col">
            <label for="inputState">Waarde1</label>
            <input type="text" class="form-control" placeholder="waarde1">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Convertion</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="col">
            <label for="inputState">Waarde2</label>
            <input type="text" class="form-control" placeholder="waarde2">
        </div>
    </div>
</form>
